<h1>Sign in</h1>

<%= form_for :session, :url => { :controller => "sessions", :action => "create", :back => params[:back] } do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :password %>
    	<%= f.password_field :password %>
    </div>
  	<%= f.submit "Sign in", :disable_with => "Please wait..." %>
<% end %>

<div class="options round_bottom">
    <%= link_to "Sign up", sign_up_path %> |
    <%= link_to "Forgot password?", new_password_path %>
</div>