<% content_tag_for(:li, argument) do %>
    <div class="info"><% unless current_user && !current_user.voted_for(argument.id) %><a href="<%= vote_argument_path(argument) %>" id="vote_<%= argument.id %>" onclick="javascript:vote(<%= argument.id %>);return false;" title="Vote for this argument">&#x25B2;</a> <% end %><% unless argument.user.nil? %><%= link_to argument.user.name, user_path(argument.user) %><% else %>Anonymous<% end %> &#183; <%= time_ago_in_words(argument.created_at) %> ago &#183; <span id="score_<%= argument.id %>"><%= argument.score %></span> points &#183; posted for <%= argument.side.name %></div>
    <p><%= argument.body %></p>
    <div class="meta">
        <% if allow_reply %>
			<%= link_to "Reply", reply_argument_path(argument), :remote => true, :id => "reply_#{argument.id}_link", :class => "reply_link button" %>
			<span id="reply_<%= argument.id %>_link_loading" style="display:none;">Loading...</span>
			<div class="clear"></div>
			<div id="reply_<%= argument.id %>" class="reply"></div>
		<% end %>
    </div>
<% end %>

<% if show_children && argument.children.size > 0 %>
<ul id="argument_<%= argument.id %>_children" class="arguments">
    <%= render_threads(argument.children) %>
</ul>
<% end %>