<%= render :partial => "top", :locals => {:user => @user} %>

<% if @sides.size > 0 %>
	<ul class="user_sides full_list">
		<% @sides.each do |side| %>
			<li class="side"><%= link_to side.debate.name, debate_path(side.debate) %> - <%= side.name %></li>
		<% end %>
	</ul>
	<%= will_paginate @sides %>
<% else %>
	<div class="notification">No sides for this user yet.</div>
<% end %>

<%= render :partial => "bottom", :locals => {:user => @user} %>