

<% content_for :left do %>
    <% if @tags.size > 0 %>
		<ul id="tags_filter">
			<li class="selected"><%= link_to "All Topics", debates_path %></li>
			<% @tags.each do |tag| %>
			<li><%= link_to tag.name, tag_path(tag.name) %></li>
			<% end %>
		</ul>
   	 <% end %>
<% end %>

<% content_for :right do %>
    <div id="sidebar">
   		<h3>Stats</h3>
		<ul>
			<li><%= @debates.count %> debates</li>
		</ul>
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-1634731507150308";
		/* debate-zone right square */
		google_ad_slot = "8434759122";
		google_ad_width = 250;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
    </div>
<% end %>

<h1><% unless params[:search].nil? %>Search for "<%= params[:search] %>"<% else %>Debates<% end %></h1>
<% if @debates.size > 0 %>
	<%= render :partial => "shared/sort" %>
	<ul id="debates" class="debates">
    	<%= render :partial => "debate", :collection => @debates %>
    </ul>
    <%= will_paginate @debates %>
<% else %>
    <p>No debates yet.</p>
<% end %>
<div class="options round_bottom">
	<%= link_to 'New Debate', new_debate_path %>
</div>