<% content_for :title_suffix do %> - <%= @debate.name %><% end %>
<% content_for :extra_head do %>
<script type="text/javascript">
$(document).ready(function() {
	$(".new_argument").bind("ajax:loading", function() {
		toggleLoading($(this).attr("id"));
	}).bind("ajax:complete", function() {
		toggleLoading($(this).attr("id"));
	});
	$(".reply_link").bind("ajax:loading", function() {
		toggleLoading($(this).attr("id"));
	}).bind("ajax:complete", function() {
		toggleLoading($(this).attr("id"));
	});
});
</script>
<% end %>
<div id="main" class="span-18">
<h1><%= @debate.name %></h1>
<p id="debate_description"><%= @debate.description %></p>

<% if current_user.nil? %>
	<div class="notification">
		<div class="message">
			You must be signed in to vote.
		</div>
		<%= link_to "Sign up", sign_up_path, :class => "button large" %>
		<div class="spacer"></div>
		<%= link_to "Sign in", sign_in_path, :class => "button large" %>
		<div class="clear"></div>
	</div>
<% else %>
	<div id="argue">
	    <%= render :partial => "arguments/form", :locals => { :argument => @argument, :debate => @debate } %>
	</div>
<% end %>

<% if @debate.sides.size > 2 %>
    <% if @debate.arguments.size > 0 %>
        <ul id="multi_arguments" class="arguments">
            <%= render_threads(@debate.parent_arguments) %>
        </ul>
    <% else %>
        <div class="notification">No arguments for this debate yet.</div>
    <% end %>
<% else %>
    <%= render :partial => "two_side_arguments", :locals => { :sides => @debate.sides } %>
<% end %>

<% if @related != nil %>
<hr />
<div id="related_debates">
	<h3>Related Debates</h3>
	<ul id="debates" class="debates">
		<% @related.each do |r| %>
			<li>
				<h4><%= link_to r.name, debate_path(r) %></h4>
			</li>
		<% end %>
	</ul>
</div>
<% end %>
</div>
<div id="sidebar" class="span-5">
	<% if current_user != nil && @debate.user_id == current_user.id %>
		<%= link_to 'Edit this debate', edit_debate_path(@debate) %><br />
	<% end %>
	<h3>Info</h3>
	<ul id="info">
		<li>created <%= time_ago_in_words(@debate.created_at) %> ago by <%= link_to @debate.user.name, user_path(@debate.user) %></li>
		<li><%= @debate.arguments.count %> arguments</li>
		<% @debate.sides.each do |side| %>
			<li><%= side.name %><br /><%= side.score %> points</li>
		<% end %>
	</ul>
	
	<% if @debate.tags.size > 0 %>
		<h3>Tags</h3>
		<ul id="debate_tags">
		<% @debate.tags.each do |tag| %>
			<li><%= link_to tag, tag_path(tag.name) %></li>
		<% end %>
		</ul>
	<% end %>
		
		<h3>Share</h3>
		<div class="share">
			<iframe src="http://www.facebook.com/plugins/like.php?href=<%= debate_url(@debate) %>&amp;layout=standard&amp;show_faces=true&amp;width=270&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:30px;" allowTransparency="true"></iframe>
			<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="flubba">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		</div>
		
		<% amazon = @debate.tags.size > 0 ? @debate.tags[0..1].map(&:name).join("%20") : "politics" %>
		<h3>Related Books</h3>
		<iframe src="http://rcm.amazon.com/e/cm?t=debat-20&o=1&p=14&l=st1&mode=books&search=<%= amazon %>&fc1=000000&lt1=&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="160" height="600" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
		
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-1634731507150308";
		/* right square on debate#show */
		google_ad_slot = "2769831088";
		google_ad_width = 250;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
</div>
<div class="clear"></div>