<% content_for :title_suffix do %> - <%= @tag %><% end %>

<% content_for :left do %>
    <% if @tags.size > 0 %>
		<ul id="tags_filter">
			<li><%= link_to "All Topics", root_path %></li>
			<% @tags.each do |tag| %>
			<li<% if tag.name == @tag %> class="selected"<% end %>><%= link_to tag.name, tag_path(tag.name) %></li>
			<% end %>
		</ul>
   	 <% end %>
<% end %>

<% content_for :right do %>
<iframe src="http://rcm.amazon.com/e/cm?t=debat-20&o=1&p=12&l=st1&mode=books&search=<%= @tag %>&fc1=000000&lt1=&lc1=3366FF&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="300" height="250" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>

    <div id="sidebar">
   		<h3>Top Debates</h3>
		<ul id="top_debates" class="debates">
			<% @top_debates.each do |debate| %>
				<li>
					<%= link_to debate.name, debate_path(debate) %>
					<div class="meta"><%= debate.arguments.count %> arguments</div>
				</li>
			<% end %>
		</ul>
    </div>
<% end %>

<h2><%= @tag.capitalize %> debates</h2>
<% if @debates.size > 0 %>
	<%= render :partial => "sort" %>
    <ul id="debates" class="debates">
    	<%= render :partial => "debates/debate", :collection => @debates %>
    </ul>
<% else %>
    <p>No debates for this tag yet.</p>
<% end %>
<div class="options round_bottom">
	<%= link_to "View all debates", debates_path %>
	&#183;  <%= link_to 'New Debate', new_debate_path %>
</div>